/****************************
            Flexbox
*****************************/
#slides, .slide{
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
}
.slide, #slideshow_navigation,
#desktop_slide div, #slideshow_buttons,
.slide_text_wrap, #slide_text,
.icon
{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#slides, #slideshow_circles{
	-webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

/****************************
          slideshow
*****************************/
#home_slideshow{
	box-sizing:border-box;
	width:100%;
	height:100%;
	min-height:inherit;

	overflow:hidden;
}
#slides{
	position:relative;
	width:100%;
	height:100%;
	min-height:inherit;
	box-sizing:border-box;
}
.slide{
	box-sizing:border-box;
	width:100vw;
	height:100%;
	min-height:inherit;

	-ms-flex: 0 0 100vw;
	-webkit-flex: 0 0 100vw;
	flex: 0 0 100vw;

	overflow:hidden;
}
/****slide overlay****/
#slideshow_overlay{
	position:absolute;
	box-sizing:border-box;
	width:100%;
	height:100%;
	padding:10px;
	min-height:inherit;
}
#slide_text{
	box-sizing:border-box;
	padding:20px;
	position:relative;

	-ms-flex-pack:end;
	-webkit-flex-pack:flex-end;
	justify-content:flex-end;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items:center;

	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}
#slideshow_navigation{
	position:relative;
	width:100%;
	height:100%;

	-ms-flex-pack:end;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;

}
/****slideshow_arrows****/
#slideshow_arrows{
	box-sizing:border-box;
	padding:10px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

	-ms-flex-pack: justify;
	-webkit-justify-content:space-between;
	justify-content: space-between;


}
#slideshow_arrows > div{
	-webkit-align-items: center;
	-ms-flex-align:center;
	align-items:center;
}
#left_arrow, #right_arrow{
	position:relative;
	z-index:800;
	width:30%;

	opacity: 0.4;
	filter:alpha(opactiy=40);
}
#left_arrow_wrap, #right_arrow_wrap{
	position:relative;
}
#right_arrow_wrap{
	-ms-flex-pack:end;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
}
#desktop_slide{
	position:relative;
	width:100%;

	-ms-flex-pack:end;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items:center;

	padding-right:10%;
	display:none;
}
/****slideshow_buttons****/
#slideshow_buttons{
	box-sizing:border-box;
	width:100%;
	height:20%;
	padding:10px;
	position:relative;
	bottom:10px;

	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items:center;
}
.slide_button{
	background-color:rgba(255,255,255, 0.3);
	width:10px;
	height:10px;
	border-radius:100%;
	z-index:800;

	margin:5px;
}
#slideshow_circles{
	height:100%;
	position:relative;
}
#view_button{
	box-sizing:border-box;
	background-color:rgba(255,255,255,0.3);
	border-radius:50px;
	padding:10px;
	color:white;
	font-size:115%;
	z-index:800;
}
/**hover**/
#view_button:hover, #view_button:focus,
#view_button:active{
	background-color:rgba(255,255,255,0.7);
	color:rgb(0,0,0);
}
#left_arrow:hover, #left_arrow:focus,
#left_arrow:active,
#right_arrow:hover, #right_arrow:focus,
#right_arrow:active{
	opacity: 1;
	filter:alpha(opactiy=100);
}
/****slides****/
#mobile_slide{
	background-color:rgb(120, 0, 47);

	-webkit-justify-content: center;
	-ms-flex-pack: center;
  justify-content:center;

  -webkit-align-items: center;
	-ms-flex-align: center;
	align-items:center;

}
#mobile_slide h1,
#mobile_slide p,
#desktop_slide >div {
	color:white;
	width:150px;
}
#mobile_slide h1,#desktop_slide h1 {
	font-size:250%;
}
#mobile_slide h3, #desktop_slide h3{
	margin-top:5%;
	text-align:center;
}
/******slide text****/
.slide_text_wrap{
	box-sizing:border-box;
	height:80%;

	text-align:center;
	color:white;

	-ms-flex-pack:end;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;

	padding-bottom:30px;
}
.slide_text_wrap a{
  color:white;
	z-index:100;
}
.slide_text_wrap a:hover .slide_text_wrap .title {
  color: rgba(255,255,255, 0.8);
}
/***slide overlay***/
.slide_hover{
	box-sizing:border-box;
	content:"";
	width:100vw;
	height:100%;
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.68);

	-webkit-transition: background-color 0.5s;
	 -moz-transition: backgruond-color 0.5s;
		 -o-transition: background-color 0.5s;
				transition: background-color 0.5s;
}
.slide_hover:hover,
.slide_hover:focus,
.slide_hover:active{
	background-color:rgba(0,0,0,0.55);
}
/***slide backgrounds***/
#delish_slide{
	background: url(../img/slideshow/delish_mobile.jpg);
	background-size: cover;
  background-position:top;
}
#canadabuys_slide{
	background: url(../img/slideshow/canadabuys_mobile.jpg);
	background-size:cover;
  background-position:center;
}
#naturelive_slide{
  background: url(../img/slideshow/naturelive_mobile.png);
	background-size:cover;
  background-position:center;
}
/**********************************************************
												Second Section
***********************************************************/
#project_icons{
	width:100%;
	padding:20px;
	box-sizing:border-box;
	background-color:rgb(60,0,32);

	-webkit-align-items: start;
	-ms-flex-align: flex-start;
	align-items:flex-start;

	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content:center;

	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	display:none;
}
.icon{
	box-sizing:border-box;
	width:44%;
	margin:10px;
}
.icon>img{
  position:relative;
	width:100%;
	height:auto;
	border-radius:10px;
}
.icon_link{
  width: 90%;
	padding-top:5px;
	color:white;
}
.icon_link .title {
  font-size: 150%;
}
.icon_link .subtitle {
  font-size: 105%;
}
/**********************************************************
                              Hover
***********************************************************/
.slide_button:hover{
  cursor:default;
}
/**********************************************************
                            	Breakpoints
***********************************************************/
@media screen and (min-width:768px){
	/**change backgrounds**/
	#delish_slide{
		background:url(../img/slideshow/delish_tablet.jpg);
		background-size:cover;
    background-position:top;

	}
	#canadabuys_slide{
			background:url(../img/slideshow/canadabuys_tablet.jpg);
			background-size:cover;
      background-position:50% 35%;
	}
  #naturelive_slide{
    background: url(../img/slideshow/naturelive_tablet.png);
  	background-size:cover;
    background-position:center;
  }
	/**re-arrange**/
	#slide_text{
		-ms-flex-pack:start;
		-webkit-flex-pack:flex-start;
		justify-content:flex-start;

		height:90%;
	}
	#desktop_slide{
		display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
		height:100%;
	}
  #desktop_slide p, #mobile_slide p {
      font-size: 150%;
      font-weight: 300;
  }
	#desktop_slide >div{
		position:relative;
		z-index:800;
	}
	#desktop_slide h3 {
		padding-top:20px;
	}
  /******Slide text****/
	.slide_text_wrap{
		text-align:left;
		height:90%;
	}
	.slide_text_wrap a {
		padding-left: 10%;
    width:40%;
	}
	#slideshow_buttons{
		height:10%;
	}
	#view_button{
		-webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self:flex-end;

		position:relative;
	}
}
@media screen and (min-width:900px){
	/**change backgrounds**/
	#delish_slide{
		background:url(../img/slideshow/delish_desktop.jpg);
		background-size:cover;
    background-position:top;
	}
	#canadabuys_slide{
			background:url(../img/slideshow/canadabuys_desktop.jpg);
			background-size:cover;
      background-position:50% 35%;
	}
  #naturelive_slide{
    background: url(../img/slideshow/naturelive_desktop.png);
  	background-size:cover;
    background-position:50% 35%;
  }
	.icon{
		width:15vw;
		margin:5px;
	}
	#project_icons{
		-webkit-justify-content: space-evenly;
		-ms-flex-pack: space-evenly;
	  justify-content:space-evenly;
	}
}
@media screen and (min-width:1500px){
	/**change backgrounds**/
	#delish_slide{
		background:url(../img/slideshow/delish_large_desktop.jpg);
		background-size:cover;
    background-position:top;
	}
	#canadabuys_slide{
			background:url(../img/slideshow/canadabuys_large_desktop.jpg);
			background-size:cover;
      background-position: 50% 35%;
	}
  #naturelive_slide{
    background: url(../img/slideshow/naturelive_large_desktop.png);
  	background-size:cover;
    background-position:50% 35%;
  }
	.icon{
		width:18vw;
	}
}
